.footer {
  background-color: rgb(170, 221, 237);
  color: rgb(6, 48, 54);
  
  width: 100%;
  text-align: center;
  padding: 1em;
  padding-bottom: 1em;
}


body {
  overflow-x: hidden;
  padding: 1em;
  min-height: 100vh;
}
.title{
  font-size: 2.4em;
  font-family: Verdana;
  font-weight: 100;
  color: rgb(26, 76, 109);
}
.smallerTitle{
  font-size: 2em;
  font-family: Verdana;
  font-weight: 100;
}
.review{
  padding-left: 6.5em;
}

.alert {
  padding: 20px;
  background-color: rgb(53, 119, 139); 
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}